<%= form_with(model: @contato,  data: { turbo_frame: "_top" }) do |f| %>
<%#= form_with(model: [contatavel, contato], id: dom_id_for_records(@contatavel, @contato), data: { turbo_frame: "_top" }) do |f| %>
<% if f.object.errors.any? %>
<div id="error_explanation" class="bg-red-100 rounded-md p-4 mb-4">
	<h2><%= pluralize(f.object.errors.count, "erro") %> - FFFFFFFFFFFImpossível salvar o registro:</h2>
	<ul>
		<% f.object.errors.each do |error| %>
		<li><%= error.message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<br>
<div class="grid grid-cols-3">
	<div class="mr-2">
		<%= f.label 'Tipo', class: "text-sm font-medium text-gray-800 mb-1 block" %>
		<%= f.collection_select :t_contato_id, TContato.order(:nome), :id, :nome %>
	</div>
	<div class="col-span-2 ml-2 mr-2">
		<%= f.label :contato, class: "text-sm font-medium text-gray-800 mb-1 block" %>
		<%= f.text_field :contato %>
	</div>
</div>
<br>
<div class="mb-4">
	<%= f.label "Principal?", class: "text-sm font-medium text-gray-800 mb-1 block" %>
	<%= f.radio_button :preferencial, true %>
	<%= f.label :preferencial, "Sim" %>
	<%#= f.checkbox :preferencial %>
	<%= f.radio_button :preferencial, false %>
	<%= f.label :nao_preferencial, "Não" %>
</div>
<hr>
<br>
<div class="flex items-center">
	<%= f.submit class: "cursor-pointer inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mr-4" %>
	<%# if f.object.persisted? %>
	<%= link_to 'Cancelar', @contatavel %>
	<%# end %>
</div>
<% end %>
<%#= form_with(model: [contatavel, contato], id: dom_id_for_records(@contatavel, contato), data: { turbo_frame: "_top" }) do |f| %>