<%#= contatavel.id %> 

<%= form_with model: [contatavel, contato], id: [contatavel, @contato], :url => pessoa_contato_create_path(1, 1) do |f| %>
<% if f.object.errors.any? %>
<div id="error_explanation" class="bg-red-100 rounded-md p-4 mb-4">
	<h2><%= pluralize(f.errors.count, "error") %> prohibited this pessoa from being saved:</h2>
	<ul>
		<% f.object.errors.each do |error| %>
		<li><%= error.full_message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="mb-4">
	<%#= f.text_field :nome, class: "border border-gray-300 rounded-sm w-full" %>
	<%#= f.label :nome, class: "text-sm font-medium text-gray-800 mb-1 block" %>
	<%#= f.text_field :contatavel_id, class: "border border-gray-300 rounded-sm w-full" %>
</div>
<div class="mb-4">
	<%#= f.label :contatavel_type, class: "text-sm font-medium text-gray-800 mb-1 block" %>
	<%#= f.text_field :contatavel_type %>
</div>
<div class="mb-4">
	<%= f.label 'Tipo', class: "text-sm font-medium text-gray-800 mb-1 block" %>
	<%= f.collection_select :t_contato_id, TContato.order(:nome), :id, :nome %>
</div>
<div class="mb-4">
	<%= f.label :contato, class: "text-sm font-medium text-gray-800 mb-1 block" %>
	<%= f.text_field :contato %>
</div>
<div class="mb-4">
	<%= f.label "Contato Principal?", class: "text-sm font-medium text-gray-800 mb-1 block" %>
	<%= f.radio_button :preferencial, true %>
	<%= f.label :preferencial, "Sim" %>
	<%#= f.checkbox :preferencial %>
	<%= f.radio_button :preferencial, false %>
	<%= f.label :nao_preferencial, "Não" %>
</div>
<div class="flex items-center">
	<%= f.submit class: "cursor-pointer inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mr-4" %>
</div>
<% end %>
