<div class="flex items-center justify-between w-full p-5 text-left border border-gray-200  focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 bg-gray-100 dark:bg-gray-800 text-black-900 dark:text-white">
	<p class="text-md text-black-400 hover:text-sky-400"><b>Engajar pessoa</b></p>
</div>
<div class="items-center justify-between w-full p-2 border border-gray-200 text-sm text-left text-black-500 dark:text-black-400">
	<%= form_with(model: @pessoa, url: criar_engajamento_engajados_path(@engajamento), data: { turbo_frame: "_top" }) do |form| %>
	<div class="" id="flash"></div>

	<div class="p-2">
		<%= form.label 'nome', class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
		<%= form.text_field :nome, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Nome completo" %>
	</div>
	<div class="p-2">
		<%= form.label :mae, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
		<%= form.text_field :mae, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Nome completo da mãe" %>
	</div>
	<div class="grid grid-cols-4">
		<div class="p-2 col-span-2">
			<%= form.label :cpf, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
			<%= form.text_field :cpf, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "99999999999", pattern:"[0-9]{11}" %>
		</div>
		<div class="p-2 col-span-2">
			<%= form.label :nascimento, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
			<%= form.date_field :nascimento, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
		</div>
	</div>
	<div class="p-2 border-b">
		<%= form.hidden_field :status, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", value: "ativo" %>
	</div>
	<div class="flex items-center p-2">
		<%= form.submit "Registrar", class: "cursor-pointer inline-flex items-center text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-4 py-1.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800" %>
		<%# if @pessoa.persisted? %>
		<%#= link_to 'LIMPA FLOW', engajamento %>
		<%# end %>
	</div>
	<% end %>
</div>